<dash-widget #settings
            [cols]="widget.cols"
            [rows]="widget.rows"
            (changeCols)="updateCols($event)" 
            (changeRows)="updateRows($event)">
    <md-card>
        <md-icon class="settings-icon" (click)="settings.open()">settings</md-icon>
        <md-card-header>
            <md-card-title>{{ widget.title }}</md-card-title>
        </md-card-header>
        <md-card-content>
            <h1 *ngIf="!editEnabled">{{ widget.count }}</h1>
        </md-card-content>
    </md-card>
    <md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
</dash-widget>
