<md-sidenav-container>
    <md-sidenav align="end" #configure>
        <p><button md-button (click)="configure.close()">Close</button></p>
        <span>Number of rows</span>
        <md-slider
            max="8"
            min="1"
            step="auto"
            thumb-label="true"
            tick-interval="auto"
            [value]="widget.cols" (change)="changedCols($event)">
        </md-slider>
        <span>Number of cols</span>
        <md-slider
            max="8"
            min="1"
            step="auto"
            thumb-label="true"
            tick-interval="auto"
            [value]="widget.rows" (change)="changedRows($event)">
        </md-slider>
    </md-sidenav>
    <md-card>
        <md-card-header>
            <md-card-title>{{widget.title}}</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-progress-spinner
                mode="determinate"
                [value]="widget.percentage">
            </md-progress-spinner>
        </md-card-content>
        <md-card-actions>
            <button md-button (click)="configure.open()">Edit</button>
        </md-card-actions>
    </md-card>
</md-sidenav-container>
