<div id="dash-graph-widget">
    <dash-widget #settings
            [cols]="widget.cols"
            [rows]="widget.rows"
            (changeCols)="updateCols($event)" 
            (changeRows)="updateRows($event)">
        <!--<md-card>
            <md-icon class="settings-icon" (click)="settings.open()">settings</md-icon>
            <md-icon class="refresh-icon" (click)="refresh()">refresh</md-icon>
            <md-card-header>
                <md-card-title>{{ widget.title }}</md-card-title>
            </md-card-header>
            <md-card-content>
                <canvas id="mockChart" width="200"></canvas>
            </md-card-content>
        </md-card>-->
        <md-icon class="settings-icon" (click)="settings.open()">settings</md-icon>
        <md-icon class="refresh-icon" (click)="refresh()">refresh</md-icon>
        <div class="chart-container">
            <canvas id="mockChart"></canvas>
        </div>
    </dash-widget>
</div>