<md-toolbar color="primary">{{ widget.title }}</md-toolbar>
<div id="dash-graph-widget">
    <dash-widget #settings
            [cols]="widget.cols"
            [rows]="widget.rows"
            (changeCols)="updateCols($event)" 
            (changeRows)="updateRows($event)">
        <md-card>
            <md-icon class="settings-icon" (click)="settings.open()">settings</md-icon>
            <md-icon *ngIf="!autoRefresh" class="refresh-icon" (click)="refreshCounter()">refresh</md-icon>
            <md-card-content>
                <canvas [attr.id]="chartId"></canvas>
            </md-card-content>
        </md-card>
    </dash-widget>
</div>